/*This is my style sheet*/

/****************Search results page ****************/

#filetable{
    text-align:center;
    width:80%;
    font-size:1.5vw;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th{
    background-color: lightsteelblue;
}
#summary{
    text-align:center;
    width:80%;
    font-size:1.5vw;
    border: 1px solid lightgray;
}

/****************Search page ****************/

#inputbox{
    width:25%;
    font-size:1.5vw;
    margin: 2%;
}
#mybutton{
    padding: 1% 2% 1% 2%;
}


/*****************upload files ***************/
.common_back{
    padding:5%;
    margin-top:5%;
    font-size:1.2vw;
    background-color: #D2EFEF;
}