{% include 'index.html' %}
{% block content %}
    <title>Upload Files</title>



    <div class="common_back" align="center">
        <h1>Home</h1>
        <p style="width:50%;">This network of nodes allows a user to have access to
        a cluster of nodes for a peer to peer network. Each node
        search across a set of neighbors a certain number of hops
        and compiles a list of files. Uploading files to a node
        adds that file to the filesystem and is searchable by the
        neighboring cluster/nodes. </p>
        <div id="fileuploader" style="width: 500px;">Upload</div>
    </div>


<script>
    $(document).ready(function()
    {
        $("#fileuploader").uploadFile({
        url:"/api/v1/upload",
        fileName:"myfile"
        });
    });
</script>

{% endblock %}